#root_container_History {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


#history_screen {
    
    width: 20rem; 
    height: 40rem; 
    background-color: lightblue; 
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    
}

#top_bar_history {
    width: 100%;
    background-color: #d9d9d9;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.02rem 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-sizing: border-box; 
}

#fincial_table_container {
    align-items: center;
    overflow: auto;
    height: 27rem; /* Set the desired height for your table container */

}
  
  table {
    width: 100%; /* Make the table occupy the full container width */
    border-collapse: collapse;
  }
  
  thead {
    
    
    background-color: #f0f0f0; /* Style the table header as needed */
  }
  
  th, td {
    border: .1rem solid #ddd; /* Add cell borders as needed */
    padding: .5rem;
    text-align: left;
  }






#bottom_menu_history {
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center; /* This will spread out your buttons */
    bottom: 0; /* Align to the bottom */
    background-color: black; /* Give it a different background to stand out */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; /* Round the top corners */
    padding: 1rem 0; /* Add some padding inside the menu bar */
    gap:3.6rem;
}

.menu_button_history {
    display: flex;
    width: 50px; /* Fixed width and height for circles */
    height: 50px; 
    background: #272626; /* Light grey background for the buttons */
    background-color: lightblue;
    border: none;
    border-radius: 50%;
    border-radius: 2rem; /* Rounded corners for the buttons */
    font-size: 1rem;
    color: white; /* Text color */
    line-height: 50px; /* Center the text vertically */
    text-align: center; /* Center the text horizontally */
    justify-content: center;
    align-items: center;
}

.menu_button_history:hover {
    background-color: #e0e0e0; /* Slightly darker grey on hover */
    cursor: pointer;
}

.menus_buttons_image_history{
  width: 3rem;
  height: 100%;
}

.date_cell_container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Pushes the button to the right */


}

.date_cell_3_dots_button{
  align-items: right;
  justify-content: right;
  background-color: transparent;
  border-color: transparent;
  font-size: 1.5rem;
  border-radius: 2rem;
}

.date_cell_3_dots_button:hover{
  background-color: #e0e0e0;
}

.edit_button_pop_up_container{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.edit_button_container{
  display: flex;
  flex-direction: row;
}

#filter_pop_up_root_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 16rem;
  height: 10rem;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filter_pop_up_button_container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

#button_pop_up_cancel{
  width: 5rem;
  height: 2.5rem;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}

#button_pop_up_save {
  width: 5rem;
  height: 2.5rem;
  background-color: #a4c2f4;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}

#filter_icon_container {
  background-color: transparent;
}
#filter_icon_container:hover {
  background-color: darkgrey;
}


#delete_entry_pop_up_root_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 13rem;
  height: 10rem;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#delete_entry_button_container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.delete_entry_buttons {
  width: 5rem;
  height: 2.5rem;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}

.edit_buttons_image_container{
  background-color: transparent;
}

.edit_buttons_image_container:hover{
  background-color: lightgray;
}